<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base Title{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/auth.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Мой сайт</h1>
        </header>

        <main>
            {% block content %}
            <!-- Контент страницы будет вставлен сюда -->
            {% endblock %}
        </main>
    </div>
</body>
</html>
